menu "Listing 10-2 Configuration"

    menu "I2C Controller"

        config I2C_CONTROLLER_SDA
            int "SDA GPIO Num"
            default 14
            help
                GPIO number for I2C Controller data line.

                Espressif ESP8266 DevKitC V1    14
                Adafruit Huzzah ESP8266 Feather 4

        config I2C_CONTROLLER_SCL
            int "SCL GPIO Num"
            default 2
            help
                GPIO number for I2C Controller clock line.

                Espressif ESP8266 DevKitC V1    2
                Adafruit Huzzah ESP8266 Feather 5

        config I2C_CONTROLLER_PORT_NUM
            int "Port Number"
            default 0
            help
                Port number for I2C Controller device.

    endmenu

    menu "I2C MCP4725 DAC"
    
        config I2C_MCP4725_ADDRESS_1
            hex "MCP4725 DAC Address 1"
            default 0x60
            help
                Hardware Address of I2C Peripheral Port.
                
                Sparkfun MCP4725    0x60 or 0x61
                Adafruit MCP4725    0x62 or 0x63
    
        config I2C_MCP4725_ADDRESS_2
            hex "MCP4725 DAC Address 2"
            default 0x61
            help
                Hardware Address of I2C Peripheral Port.
                
                Sparkfun MCP4725    0x60 or 0x61
                Adafruit MCP4725    0x62 or 0x63

    endmenu

endmenu
